body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 10px;
}

#main {
  min-width: 500px;
  padding: 10px;
  margin: 10px;
}

.card {
  border: solid black 1px;
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.block {
  float: left;
}